
html {
    font-family: 'Roboto', sans-serif;
    
}


.header { 
    background-color: #1F2937;
    color: white;
    padding: 60px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    margin: -20px;
}

.logo {
    margin-left: 200px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}


a { 
    text-decoration: inherit;
    color: inherit;
}


.header-links {
    display: flex;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    color: #E5E7EB;
}

.hero {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;
    padding-bottom: 100px;
    margin: -20px;

    
}

.hero-main-text{
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    background-color: #1F2937;
    display: flex;

}


.hero-subtext{
    color: #E5E7EB;
    font-weight: 18px;
    font-size: 18px;
    display: flex;

}

.hero-button {
    margin-top: 20px;
    background-color: #3882F6;
    font-size: 25px;
    color: #F9FAF8;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
}

.img-text{
    width: 200px;
}

#hero-img {
    display: inline;
    height: auto;
    width: 500px;
    border-radius: 10px;
}

.middle {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 75px;
}

.information{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 25px;
}

.imgcontainer{
    display: flex;
}


.middleIMG{

    height: 200px;
    width: 200px;
    margin: 25px;
    border-radius: 15px;
    border-color: #3882F6;
}

.quote{
    display: block;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    padding-left: 50px;
    padding-left: 60px;
    margin-left: -20px;
    margin-right: -20px;


}

#THOR {
    text-align: right;
    font-weight: 500;
    font-style: normal;
    display: block;
}

.action{
    background-color: #3882F6;
    padding: 60px;
    width: 900px;
    height: 40px;
    border-radius: 15px;
    color: #F9FAF8;
    margin-bottom: 40px;

}

.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

.action-text {
    font-size: 28px;
    font-weight: bold;
    display: inline;

}

.action-subtext {
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;

}



.action-button{
    font-size: 24px;
    margin-left: 400px;
    border-radius: 11px;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    
  
}


.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 60px;
    text-align: center;
    margin: -20px;
}
